@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --color-primary: #0F766E; /* Teal 700 */
}

body {
  font-family: var(--font-sans);
  @apply bg-slate-50 text-slate-800;
}

.active hr{
  display:  block;
}
